<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="We are Virtus, a global art platform that connects and advances skilled artists. Discover our story and vision here."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="img/icon.png" />
    <link rel="stylesheet" href="css/component.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include("header") %>
    <div class="welcome w-full grid place-items-center">
      <div class="w-19/20 h-full flex-center-center" data-aos="fade-up">
        <div class="w-1/2 flex-center-end">
          <div>
            <p class="text-4xl cursor-default font-semibold">
              Welcome to Virtus!
            </p>
            <br />
            <p class="text-1xl cursor-default font-medium text-justify">
              Welcome to Virtus, a place where the beauty of art meets the
              convenience of online shopping. We are proud to open the doors of
              the art world to you. With a rich and diverse collection, we are
              committed to providing an enjoyable and meaningful art shopping
              experience. Let's explore the unique works of skilled artists
              together and find inspiring beauty at every step of your art
              journey. Thank you for joining Virtus, the place for quality art
              and a satisfying shopping experience.
            </p>
          </div>
        </div>
        <div class="welcome-vector w-2/5 flex-center-end" data-aos="fade-up">
          <img
            src="img/drawing.jpg"
            alt=""
            width="375"
            style="border-radius: 50px"
          />
        </div>
      </div>
    </div>
    <div class="h-12 w-full"></div>
    <div class="founder-image h-64 w-full grid place-items-center">
      <img
        data-aos="fade-up"
        src="img/founder.jpg"
        alt="Founder"
        width="250"
        style="border-radius: 250px"
      />
    </div>
    <div class="h-8 w-full"></div>
    <div
      class="founder-description h-80 w-full grid place-items-center"
      data-aos="fade-up"
    >
      <div class="h-full w-9/10 flex justify-evenly">
        <div class="h-full">
          <p
            class="text-black text-1xl cursor-default font-medium text-justify"
          >
            <strong>Rafi Abiyyu Airlangga</strong>, an Applied Engineering
            student of Information Science, is the brain behind the birth of
            Virtus. Starting this journey from his passion to create a
            supportive environment for artists around the world, he combined his
            technology education background as a software engineer with his
            fascination for art, especially photography and anime. With a
            passion for learning in the service of technology, he built Virtus
            single-handedly to provide an innovative platform that connects art
            and technology.
          </p>
        </div>
        <div class="h-full">
          <p
            class="text-black text-1xl cursor-default font-medium text-justify"
          >
            <strong>Virtus' vision</strong> is to be an innovative bridge
            between art and technology, to be a home for artists, and to
            encourage the exchange of creative ideas around the world. Virtus is
            committed to creating an environment that supports, houses fresh
            ideas, and stimulates the exchange of creative ideas on a global
            level. With unique features such as chat, open-source, and limited
            editions, Virtus aims to provide a more personalized and meaningful
            art shopping experience, advance artistic expression, and form a
            vibrant community.
          </p>
        </div>
      </div>
    </div>
    <div class="h-8 w-full"></div>
    <div class="h-12 w-full grid place-items-center">
      <p
        class="text-3xl text-black font-bold cursor-default"
        data-aos="fade-up"
      >
        Why Choose Us?
      </p>
    </div>
    <div class="h-8 w-full"></div>
    <div class="why-choose-us w-full grid place-items-center">
      <div
        class="h-full w-9/10 grid place-items-center grid-cols-3 grid-rows-2"
        data-aos="fade-up"
      >
        <div class="h-5/6 w-5/6 grid place-items-center rounded-3xl">
          <div class="h-full w-4/5 block">
            <div class="h-1/2 w-full flex items-end justify-center">
              <img src="img/exclusive.png" alt="Exclusive" width="100" />
            </div>
            <div class="h-1/2 w-full grid place-items-center">
              <p class="text-black cursor-default font-medium text-center">
                <strong class="text-2xl"
                  >Exclusive <br />
                  Collection</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="h-5/6 w-5/6 grid place-items-center rounded-3xl">
          <div class="h-full w-4/5 block">
            <div class="h-1/2 w-full flex items-end justify-center">
              <img src="" alt="" width="100" />
            </div>
            <div class="h-1/2 w-full grid place-items-center">
              <p class="text-black cursor-default font-medium text-center">
                <strong class="text-2xl"
                  >Personal <br />
                  Experience</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="h-5/6 w-5/6 grid place-items-center rounded-3xl">
          <div class="h-full w-4/5 block">
            <div class="h-1/2 w-full flex items-end justify-center">
              <img src="" alt="" width="100" />
            </div>
            <div class="h-1/2 w-full grid place-items-center">
              <p class="text-black cursor-default font-medium text-center">
                <strong class="text-2xl">Business <br />Transparency</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="h-5/6 w-5/6 grid place-items-center rounded-3xl">
          <div class="h-full w-4/5 block">
            <div class="h-1/2 w-full flex items-end justify-center">
              <img src="" alt="" width="100" />
            </div>
            <div class="h-1/2 w-full grid place-items-center">
              <p class="text-black cursor-default font-medium text-center">
                <strong class="text-2xl"
                  >Technology <br />
                  Innovation</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="h-5/6 w-5/6 grid place-items-center rounded-3xl">
          <div class="h-full w-4/5 block">
            <div class="h-1/2 w-full flex items-end justify-center">
              <img src="" alt="" width="100" />
            </div>
            <div class="h-1/2 w-full grid place-items-center">
              <p class="text-black cursor-default font-medium text-center">
                <strong class="text-2xl"
                  >Quality <br />
                  Guaranteed</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="h-5/6 w-5/6 grid place-items-center rounded-3xl">
          <div class="h-full w-4/5 block">
            <div class="h-1/2 w-full grid place-items-center">
              <img src="" alt="" width="100" />
            </div>
            <div class="h-1/2 w-full grid place-items-center">
              <p class="text-black cursor-default font-medium text-center">
                <strong class="text-2xl"
                  >Community <br />
                  Support</strong
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-8 w-full"></div>
  </body>
  <%- include("footer") %>
  <script type="text/javascript" src="js/hamburger-menu.js"></script>
  <script
    type="text/javascript"
    src="https://unpkg.com/aos@next/dist/aos.js"
  ></script>
  <script type="text/javascript">
    AOS.init();
  </script>
</html>