<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Get exclusive insights into the latest artworks, product launches and most anticipated art events on the Virtus Blog."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="icon" href="img/icon.png" />
    <link rel="stylesheet" href="css/component.css" />
    <link rel="stylesheet" href="css/blog.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include("header") %>
    <div class="h-12 w-full"></div>

    <div class="blog-tagline h-96 w-full grid place-items-center">
      <div
        class="h-full w-9/10 flex-center-center rounded-35px"
        style="background-image: linear-gradient(to right, #202020, #333333)"
      ></div>
    </div>
    <div class="h-16 w-full"></div>
  </body>
  <%- include("footer") %>
  <script type="text/javascript" src="components/blog.js"></script>
  <script type="text/javascript" src="js/hamburger-menu.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
  ></script>
  <script
    src="https://unpkg.com/react@18/umd/react.production.min.js"
    crossorigin
  ></script>
  <script
    src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
    crossorigin
  ></script>
</html>