<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Get exclusive insights into the latest artworks, product launches and most anticipated art events on the Virtus Blog."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="icon" href="img/icon.png" />
    <link rel="stylesheet" href="css/component.css" />
    <link rel="stylesheet" href="css/blog.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include("header") %>
    <div class="h-16 w-full"></div>
    <div class="blog-tagline h-fit w-full grid place-items-center">
      <div class="h-full grid place-items-center">
        <p
          class="text-5xl text-gray-900 cursor-default font-semibold text-justify"
          style="text-align-last: center"
        >
          Crafting Stories, Painting Dreams.
        </p>
        <br />
        <br />
        <p
          class="text-2xl text-gray-900 cursor-default font-medium text-justify"
          style="text-align-last: center"
        >
          Explore the vibrant world of art, discover artist stories, and unleash
          your creativity with Virtus Blog's inspiring narratives and insightful
          features.
        </p>
      </div>
    </div>
    <div class="h-16 w-full"></div>
  </body>
  <%- include("footer") %>
  <script type="text/javascript" src="js/blog.js"></script>
  <script type="text/javascript" src="js/hamburger-menu.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
  ></script>
</html>