<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Explore challenging career opportunities at Virtus. Join our team and realize your potential in an innovative and collaborative environment."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Careers</title>
    <link rel="icon" href="img/icon.png" />
    <link rel="stylesheet" href="css/component.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body></body>
  <footer></footer>
  <script type="text/javascript" src="js/hamburger-menu.js"></script>
</html>