<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Arthemias, a place to free-sharing or sell artwork to all public audiences"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtus | Create Your Masterpiece</title>
    <link rel="icon" href="img/icon.png" />
    <link rel="stylesheet" href="css/component.css" />
    <link rel="stylesheet" href="css/homepage.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-d9d9d9 h-150-r w-full">
    <div class="navbar bg-faeed1 h-9-5-r w-full grid-center">
      <div class="h-full w-95-p flex">
        <div class="h-full w-1/4 grid-center">
          <a href="/" class="logo">
            <img src="img/logo.png" alt="" width="225" />
          </a>
          <a href="/" class="icon">
            <img src="img/icon.png" alt="" width="100" />
          </a>
        </div>
        <div class="h-full w-3/4 flex-center-end">
          <div class="search h-full w-45-p grid-center">
            <input
              type="search"
              name=""
              id=""
              class="search-box h-3/10 w-90-p rounded-50px p-rl-20-px text-sm"
              placeholder="Search"
            />
            <div
              class="search-icon grid-center h-70-px w-70-px bg-d9d9d9 rounded-50px cursor-pointer"
            >
              <img src="img/search.png" alt="" width="35" id="search-icon" />
            </div>
          </div>
          <div class="avatar h-full w-7-5-p grid-center">
            <a href="/profile">
              <img src="img/avatar.png" alt="" width="50" />
            </a>
          </div>
          <div class="hamburger-menu-parent z-10 h-full w-7-5-p grid-center">
            <abbr title="Menu">
              <input
                type="checkbox"
                name=""
                id="hamburger-menu"
                class="absolute flex h-30-px w-30-px opacity-0 z-10 cursor-pointer"
              />
              <span class="hamburger-menu bg-d9d9d9"></span>
              <span class="hamburger-menu bg-d9d9d9"></span>
              <span class="hamburger-menu bg-d9d9d9"></span>
            </abbr>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
    </div>
    <div class="tagline bg-faeed1 w-full h-35-r rounded-b-100px grid-center">
      <div class="w-95-p h-full flex">
        <div class="tagline-parent h-9/10 w-60-p flex-center-center">
          <div class="tagline-head h-3/5 w-17/20">
            <p class="text-4xl font-bold">
              Virtus - Bringing the World's <br class="br1" />
              Art <br class="br2" />
              Masterpieces to You.
            </p>
            <br />
            <p class="text-2xl font-normal">
              A Home for Art Connoisseurs to Discover <br class="br1" />
              the Beauty of <br class="br2" />
              the Infinite.
            </p>
            <br /><br /><br />
            <a
              href=""
              class="find-more bg-121212 font-semibold text-1xl rounded-50px text-white"
            >
              FIND MORE
            </a>
          </div>
        </div>
        <div class="tagline-vector h-9/10 w-40-p grid-center">
          <img src="img/artist.png" alt="" width="350" />
        </div>
      </div>
    </div>
    <div class="slider-container grid-center h-20-r w-full">
      <div class="splide h-full w-95-p">
        <div class="splide__track h-full">
          <div class="splide__list">
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="js/hamburger-menu.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
    ></script>
    <script type="text/javascript" src="js/slider.js"></script>
  </body>
</html>