<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Arthemias, a place to free-sharing or sell artwork to all public audiences"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtus | Create Your Masterpiece</title>
    <link rel="icon" href="img/icon.png" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-d9d9d9 h-150 w-full">
    <div class="bg-faeed1 h-9-5 w-full grid-center">
      <div class="h-full w-95 flex">
        <div class="h-full w-1/4 grid-center">
          <a href="/">
            <img src="img/logo.png" alt="" width="300" />
          </a>
        </div>
        <div class="h-full w-3/4 flex-center-end">
          <div class="h-full w-45 grid-center">
            <input
              type="search"
              name=""
              id=""
              class="h-3/10 w-90 rounded-50px p-rl-20px"
              placeholder="Search "
            />
          </div>
          <div class="h-full w-7-5-p grid-center">
            <a href="/profile">
              <img src="img/avatar.png" alt="" width="50" />
            </a>
          </div>
          <div class="z-10 h-full w-7-5-p grid-center">
            <abbr title="Menu">
              <input
                type="checkbox"
                name=""
                id=""
                class="absolute flex h-30-px w-30-px opacity-0 z-10 cursor-pointer"
              />
              <span class="hamburger-menu bg-d9d9d9"></span>
              <span class="hamburger-menu bg-d9d9d9"></span>
              <span class="hamburger-menu bg-d9d9d9"></span>
            </abbr>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-faeed1 w-full h-30-r rounded-b-100px grid-center">
      <div class="w-95 h-full flex"></div>
    </div>
    <script src="js/homepage.js"></script>
  </body>
</html>
