<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Discover the beauty of global art on Virtus, a marketplace and free-source that supports skilled artists from around the world. Buy, enjoy, and support their unique creativity now!"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtus | Create Your Masterpiece</title>
    <link rel="icon" href="img/icon.png" />
    <link rel="stylesheet" href="css/component.css" />
    <link rel="stylesheet" href="css/homepage.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.8.0/dist/css/splide-extension-video.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="navbar h-9-5-r w-full grid-center">
      <div class="h-full w-95-p flex">
        <div class="h-full w-1/4 grid-center">
          <a href="/" class="logo">
            <img src="img/logo.png" alt="" width="225" />
          </a>
          <a href="/" class="icon">
            <img src="img/icon.png" alt="" width="100" />
          </a>
        </div>
        <div class="h-full w-3/4 flex-center-end">
          <div class="search h-full w-45-p grid-center">
            <input
              type="search"
              name=""
              id=""
              class="search-box h-3/10 w-90-p rounded-50px p-rl-20-px text-sm"
              placeholder="Search"
            />
            <div
              class="search-icon grid-center h-70-px w-4-375-r bg-d9d9d9 rounded-50px cursor-pointer"
            >
              <img src="img/search.png" alt="" width="35" id="search-icon" />
            </div>
          </div>
          <div class="avatar h-full w-7-5-p grid-center">
            <a href="/profile">
              <img src="img/avatar.png" alt="" width="50" />
            </a>
          </div>
          <div class="hamburger-menu-parent z-10 h-full w-7-5-p grid-center">
            <abbr title="Menu">
              <input
                type="checkbox"
                name=""
                id="hamburger-menu"
                class="absolute flex h-1-875-r w-1-875-r opacity-0 z-10 cursor-pointer"
              />
              <span class="hamburger-menu bg-d9d9d9"></span>
              <span class="hamburger-menu bg-d9d9d9"></span>
              <span class="hamburger-menu bg-d9d9d9"></span>
            </abbr>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
    </div>
    <div class="tagline w-full h-35-r rounded-b-100px grid-center">
      <div class="w-95-p h-full flex">
        <div class="tagline-parent h-9/10 w-3/5 flex-center-center">
          <div class="tagline-head h-3/5 w-17/20">
            <p class="text-4xl font-bold cursor-default">
              Virtus - Bringing the World's <br class="br1" />
              Art <br class="br2" />
              Masterpieces to You.
            </p>
            <br />
            <p class="text-2xl font-normal cursor-default">
              A Home for Art Connoisseurs to Discover <br class="br1" />
              the Beauty of <br class="br2" />
              the Infinite.
            </p>
            <br /><br /><br />
            <a
              class="find-more bg-121212 font-semibold text-1xl text-white rounded-50px cursor-pointer"
            >
              FIND MORE
            </a>
          </div>
        </div>
        <div class="tagline-vector h-9/10 w-2/5 grid-center">
          <img src="img/artist.png" alt="" width="350" />
        </div>
      </div>
    </div>
    <div class="finish-to-scroll h-3-r w-full"></div>
    <div class="filtered-menu grid-center h-5-r w-full">
      <div class="splide splide__1 h-full w-95-p">
        <div class="splide__track h-full">
          <div class="splide__list splide__list__1">
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box filtered-box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <p class="font-bold">For You</p>
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box filtered-box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <p class="font-bold">3D</p>
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box filtered-box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <p class="font-bold">AI</p>
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box filtered-box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <p class="font-bold">Abstract</p>
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box filtered-box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <p class="font-bold">Animation</p>
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box filtered-box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <p class="font-bold">Character</p>
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box filtered-box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <p class="font-bold">Motion Graphics</p>
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box filtered-box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <p class="font-bold">Photography</p>
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box filtered-box bg-ded0b6 grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <p class="font-bold">Vector</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="h-2-r w-full"></div>
    <div class="h-3-r w-full grid-center">
      <div class="top-trending-parent h-full w-90-p flex items-center">
        <img src="img/star.png" alt="" height="40" width="40" class="star" />
        <p class="text-3xl font-bold cursor-default">
          &nbsp; Top Trending Masterpieces
        </p>
      </div>
    </div>
    <div class="top-trending-words h-2-r w-full grid-center">
      <div class="h-full w-90-p flex items-center">
        <p class="text-1xl font-medium cursor-default">
          Immerse Yourself in Top Trending Masterpieces. Unleash Creativity!
        </p>
      </div>
    </div>
    <div class="h-2-r w-full"></div>
    <div class="grid-center h-15-r w-full">
      <div class="splide splide__2 h-full w-95-p">
        <div class="splide__track h-full">
          <div class="splide__list">
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="h-3-r w-full"></div>
    <div class="top-artist-parent h-3-r w-full grid-center">
      <div class="h-full w-90-p flex items-center">
        <img
          src="img/artist-icon.png"
          alt=""
          height="40"
          width="40"
          class="star"
        />
        <p class="text-3xl font-bold cursor-default">
          &nbsp; Top Trending Artists
        </p>
      </div>
    </div>
    <div class="top-artist-words h-2-r w-full grid-center">
      <div class="h-full w-90-p flex items-center">
        <p class="text-1xl font-medium cursor-default">
          Canvas of Creativity, Diverse Expressions by Trending Artists.
        </p>
      </div>
    </div>
    <div class="h-2-r w-full"></div>
    <div class="grid-center h-15-r w-full">
      <div class="splide splide__3 h-full w-95-p">
        <div class="splide__track h-full">
          <div class="splide__list">
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box bg-bbab8c grid-center h-full w-95-p overflow-hidden rounded-50px"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="h-2-r w-full"></div>
    <div class="best-doujins-parent h-3-r w-full grid-center">
      <div class="h-full w-90-p flex items-center">
        <img src="img/comic.png" alt="" height="40" width="40" class="star" />
        <p class="text-3xl font-bold cursor-default">&nbsp; Best Doujins</p>
      </div>
    </div>
    <div class="best-doujins-words h-2-r w-full grid-center">
      <div class="h-full w-90-p flex items-center">
        <p class="text-1xl font-medium cursor-default">
          Selected artworks, unforgettable stories on every page.
        </p>
      </div>
    </div>
    <div class="grid-center h-12-5-r w-full">
      <div class="splide splide__4 h-full w-95-p grid-center">
        <div class="splide__track h-full w-full">
          <div class="splide__list h-full w-full">
            <a class="splide__slide h-full w-full grid-center" href="">
              <div
                class="img_box img_box_4 bg-bbab8c grid-center h-90-p w-95-p overflow-hidden"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box img_box_4 bg-bbab8c grid-center h-90-p w-95-p overflow-hidden"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box img_box_4 bg-bbab8c grid-center h-90-p w-95-p overflow-hidden"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box img_box_4 bg-bbab8c grid-center h-90-p w-95-p overflow-hidden"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box img_box_4 bg-bbab8c grid-center h-90-p w-95-p overflow-hidden"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box img_box_4 bg-bbab8c grid-center h-90-p w-95-p overflow-hidden"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box img_box_4 bg-bbab8c grid-center h-90-p w-95-p overflow-hidden"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box img_box_4 bg-bbab8c grid-center h-90-p w-95-p overflow-hidden"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
            <a class="splide__slide grid-center" href="">
              <div
                class="img_box img_box_4 bg-bbab8c grid-center h-90-p w-95-p overflow-hidden"
              >
                <img src="" alt="" width="100" class="rounded-50px" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="h-2-r w-full"></div>
    <div class="livestreaming-parent h-3-r w-full grid-center">
      <div class="h-full w-90-p flex items-center">
        <img
          src="img/livestreaming.png"
          alt=""
          height="40"
          width="40"
          class="star"
        />
        <p class="text-3xl font-bold cursor-default">
          &nbsp; Watch Livestreaming
        </p>
      </div>
    </div>
    <div class="livestreaming-words h-2-r w-full grid-center">
      <div class="h-full w-90-p flex items-center">
        <p class="text-1xl font-medium cursor-default">
          Immerse in the moment, experience art in real-time spectacles.
        </p>
      </div>
    </div>
    <div class="grid-center h-full w-full">
      <div class="splide splide__5 h-95-p w-full grid-center">
        <div class="splide__track h-full w-full grid-center">
          <ul class="splide__list h-full w-full">
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
            <li
              class="splide__slide rounded-15px"
              data-splide-youtube="https://www.youtube.com/watch?v=cdz__ojQOuU"
            >
              <img
                src="https://cf.ltkcdn.net/dogs/images/orig/235430-2000x1332-australian-shepherd-puppy.jpg"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="h-4-r w-full"></div>
    <div class="h-20-r w-full grid-center">
      <div
        class="community bg-242424 h-full w-90-p flex-center-center rounded-35px"
      >
        <div class="h-full w-1/2 grid-center">
          <div class="h-3/4 w-full">
            <p class="text-white text-3xl font-semibold cursor-default">
              Access To Community
            </p>
            <br />
            <p class="text-white text-1xl font-medium cursor-default">
              Experience the transformative power of collaboration and mutual
              inspiration as you delve into Virtus Community Access, forging
              meaningful artistic connections.
            </p>
            <br />
            <br />
            <a
              href="/community"
              class="connect-here font-semibold text-white cursor-pointer"
            >
              Connect Here
            </a>
          </div>
        </div>
        <div class="h-full w-2/5 grid-center">
          <img src="" alt="Community Chat" class="text-white" />
        </div>
      </div>
    </div>
    <div class="h-4-r w-full"></div>
  </body>
  <footer></footer>
  <script type="text/javascript" src="js/hamburger-menu.js"></script>
  <script type="text/javascript" src="js/homepage.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@0.8.0/dist/js/splide-extension-video.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"
  ></script>
</html>