<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Privacy is prioritized in Virtus, with transparent terms of use and privacy, making your art shopping experience feel safe and secure."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms & Privacy</title>
    <link rel="icon" href="img/icon.png" />
    <link rel="stylesheet" href="css/component.css" />
    <link rel="stylesheet" href="css/terms-and-privacy.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include("header") %>
  </body>
  <%- include("footer") %>
  <script type="text/javascript" src="js/hamburger-menu.js"></script>
</html>