<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Get exclusive insights into the latest artworks, product launches and most anticipated art events on the Virtus Blog."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="icon" href="/client/static/img/icon.png" />
    <link rel="stylesheet" href="/client/static/css/component.css" />
    <link rel="stylesheet" href="/client/static/css/blog.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include("header") %>
    <div class="h-12 w-full"></div>
    <div class="h-fit w-full grid place-items-center">
      <p class="text-gray-900 text-center text-5xl cursor-default font-bold">
        Crafting Stories, Painting Dreams.
      </p>
    </div>
    <div class="h-6 w-full"></div>
    <div class="h-fit w-full grid place-items-center">
      <div class="w-9/10">
        <p
          class="text-gray-900 text-center text-2xl cursor-default font-medium"
        >
          Explore the vibrant world of art, discover artist stories, and unleash
          your creativity with Virtus Blog's inspiring narratives and insightful
          features.
        </p>
      </div>
    </div>
    <div class="h-12 w-full"></div>
    <div class="blog-slides grid place-items-center h-96 w-full">
      <div class="splide splide__1 h-full w-9/10">
        <div class="splide__track h-full py-6">
          <div class="splide__list">
            <%- include("blog-slider") %> <%- include("blog-slider") %> <%-
            include("blog-slider") %> <%- include("blog-slider") %> <%-
            include("blog-slider") %> <%- include("blog-slider") %> <%-
            include("blog-slider") %> <%- include("blog-slider") %> <%-
            include("blog-slider") %> <%- include("blog-slider") %>
          </div>
        </div>
      </div>
    </div>
    <div class="h-16 w-full"></div>
    <div class="filter-search h-20 w-full grid place-items-center">
      <div class="h-full w-9/10 flex">
        <div class="h-full w-1/5 grid place-items-center">
          <div
            class="h-full w-full bg-gray-950 rounded-full cursor-pointer flex hover:bg-gray-900"
            style="transition: all 0.2s ease-in-out"
          >
            <div class="h-full w-1/2 grid place-items-center">
              <img src="/client/static/img/filter.png" alt="" width="30" />
            </div>
            <div class="h-full w-1/2 flex items-center justify-start">
              <p class="text-white text-center font-semibold">Filter</p>
            </div>
          </div>
        </div>
        <div class="filtered-menu h-full w-4/5 grid place-items-center">
          <div class="splide splide__2 h-full w-9/10">
            <div class="splide__track h-full">
              <div class="splide__list splide__list__2">
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box text-gray-950 grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="
                      background-color: #ded0b6;
                      transition: all 0.2s ease-in-out;
                    "
                  >
                    <p class="font-bold">All</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box text-gray-950 grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="
                      background-color: #ded0b6;
                      transition: all 0.2s ease-in-out;
                    "
                  >
                    <p class="font-bold">Artist</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box text-gray-950 grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="
                      background-color: #ded0b6;
                      transition: all 0.2s ease-in-out;
                    "
                  >
                    <p class="font-bold">Company</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box text-gray-950 grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="
                      background-color: #ded0b6;
                      transition: all 0.2s ease-in-out;
                    "
                  >
                    <p class="font-bold">Event</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box text-gray-950 grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="
                      background-color: #ded0b6;
                      transition: all 0.2s ease-in-out;
                    "
                  >
                    <p class="font-bold">Knowledge</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box text-gray-950 grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="
                      background-color: #ded0b6;
                      transition: all 0.2s ease-in-out;
                    "
                  >
                    <p class="font-bold">Recent</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-16 w-full"></div>
  </body>
  <%- include("footer") %>
  <script type="text/javascript" src="/client/static/js/blog.js"></script>
  <script
    type="text/javascript"
    src="/client/static/js/hamburger-menu.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"
  ></script>
</html>