<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Discover the beauty of art from every angle on Virtus' Explore page, where all the content comes together to provide an immersive exploration experience."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore</title>
    <link rel="icon" href="/client/static/img/icon.png" />
    <link rel="stylesheet" href="/client/static/css/component.css" />
    <link rel="stylesheet" href="/client/static/css/explore.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="navbar w-full block bg-center bg-cover bg-no-repeat">
      <div class="w-full grid place-items-center">
        <div class="h-full w-19/20 flex">
          <div class="h-full w-1/4 grid place-items-center">
            <a href="/" class="logo">
              <img
                src="/client/static/img/logo-white.png"
                alt="Virtus Logo"
                width="225"
              />
            </a>
            <a href="/" class="icon">
              <img src="/client/static/img/icon.png" alt="" width="100" />
            </a>
          </div>
          <div class="h-full w-3/4 flex-center-end">
            <div class="avatar h-full w-3/40 grid place-items-center">
              <a href="/not-logged-in">
                <img src="/client/static/img/avatar.png" alt="" width="50" />
              </a>
            </div>
            <div
              class="hamburger-menu-parent z-10 h-full w-3/40 grid place-items-center"
            >
              <abbr title="Menu">
                <input
                  type="checkbox"
                  name=""
                  id="hamburger-menu"
                  class="absolute flex h-1-875-r w-1-875-r opacity-0 z-10 cursor-pointer"
                />
                <span class="hamburger-menu bg-d9d9d9"></span>
                <span class="hamburger-menu bg-d9d9d9"></span>
                <span class="hamburger-menu bg-d9d9d9"></span>
              </abbr>
            </div>
          </div>
          <div class="overlay fixed h-full w-1/2 inset-0 z-30"></div>
        </div>
      </div>
      <div class="search-explore w-full grid place-items-center">
        <div class="h-full w-9/10 block">
          <div class="h-2/5 w-full flex items-end justify-center">
            <p class="text-white text-center cursor-default font-bold text-5xl">
              Resources for creative <br class="br1" />
              minds to grow and develop
            </p>
          </div>
          <div class="h-1/5 w-full grid place-items-center">
            <p
              class="text-white text-center cursor-default font-medium text-2xl"
            >
              Explore art galleries to spark your creativity and expand your art
              perspective.
            </p>
          </div>
          <div class="h-2/5 w-full flex items-start justify-center">
            <input
              type="search"
              name=""
              id=""
              placeholder="Discover the miracle..."
              class="search-box outline-none rounded-full"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="h-12 w-full"></div>
    <div class="filter-search h-20 w-full grid place-items-center">
      <div class="h-full w-9/10 flex">
        <div class="h-full w-1/5 grid place-items-center">
          <div
            class="h-full w-full bg-gray-950 rounded-full cursor-pointer flex hover:bg-gray-900"
            style="transition: all 0.2s ease-in-out"
          >
            <div class="h-full w-1/2 grid place-items-center">
              <img src="/client/static/img/filter.png" alt="" width="30" />
            </div>
            <div class="h-full w-1/2 flex items-center justify-start">
              <p class="text-white text-center font-semibold">Filter</p>
            </div>
          </div>
        </div>
        <div class="h-full w-4/5 grid place-items-center">
          <div class="splide splide__1 h-full w-9/10">
            <div class="splide__track h-full">
              <div class="splide__list splide__list__1">
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box bg-gray-800 text-white grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="transition: all 0.2s ease-in-out"
                  >
                    <p class="font-bold">For You</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box bg-gray-800 text-white grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="transition: all 0.2s ease-in-out"
                  >
                    <p class="font-bold">3D</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box bg-gray-800 text-white grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="transition: all 0.2s ease-in-out"
                  >
                    <p class="font-bold">AI</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box bg-gray-800 text-white grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="transition: all 0.2s ease-in-out"
                  >
                    <p class="font-bold">Abstract</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box bg-gray-800 text-white grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="transition: all 0.2s ease-in-out"
                  >
                    <p class="font-bold">Animation</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box bg-gray-800 text-white grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="transition: all 0.2s ease-in-out"
                  >
                    <p class="font-bold">Character</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box bg-gray-800 text-white grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="transition: all 0.2s ease-in-out"
                  >
                    <p class="font-bold">Motion Graphics</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box bg-gray-800 text-white grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="transition: all 0.2s ease-in-out"
                  >
                    <p class="font-bold">Photography</p>
                  </div>
                </div>
                <div class="splide__slide grid place-items-center">
                  <div
                    class="filtered-box bg-gray-800 text-white grid place-items-center h-full w-19/20 cursor-pointer overflow-hidden hover:bg-gray-700 rounded-50px"
                    style="transition: all 0.2s ease-in-out"
                  >
                    <p class="font-bold">Vector</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-12 w-full"></div>
  </body>
  <%- include("footer") %>
  <script type="text/javascript" src="/client/static/js/explore.js"></script>
  <script
    type="text/javascript"
    src="/client/static/js/hamburger-menu.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
  ></script>
</html>