<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Get complete guidance at the Virtus Help Center, ensuring a seamless and satisfying art shopping experience for every customer."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help Center</title>
    <link rel="icon" href="/client/static/img/icon.png" />
    <link rel="stylesheet" href="/client/static/css/component.css" />
    <link rel="stylesheet" href="/client/static/css/help-center.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include("header") %>
  </body>
  <%- include("footer") %>
  <script type="text/javascript" src="/client/static/js/hamburger-menu.js"></script>
</html>