<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Experience visual exclusivity with Limited Editions at Virtus - a collection of premium contents that bring out the beauty of art with a special touch."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Limited Editions</title>
    <link rel="icon" href="/static/img/icon.png" />
    <link rel="stylesheet" href="/static/css/component.css" />
    <link rel="stylesheet" href="/static/css/limited-editions.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include("header") %>
  </body>
  <%- include("footer") %>
  <script type="text/javascript" src="/static/js/hamburger-menu.js"></script>
</html>