<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Reveal yourself through your personal profile on Virtus, a place to share your art preferences and get recommendations for suitable works."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Profile</title>
    <link rel="icon" href="/client/static/img/icon.png" />
    <link rel="stylesheet" href="/client/static/css/component.css" />
    <link rel="stylesheet" href="/client/static/css/profile.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body></body>
  <%- include("footer") %>
  <script type="text/javascript" src="/client/static/js/hamburger-menu.js"></script>
</html>