<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Explore our art consultation services, guiding you through the process of purchasing and selecting works that suit your taste."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="icon" href="/client/static/img/icon.png" />
    <link rel="stylesheet" href="/client/static/css/component.css" />
    <link rel="stylesheet" href="/client/static/css/services.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include("header") %>
    <div
      class="h-16 w-full"
      style="background-image: linear-gradient(to left, #faeed1, #dac69a)"
    ></div>
    <div
      class="h-fit w-full grid place-items-center"
      style="background-image: linear-gradient(to left, #faeed1, #dac69a)"
    >
      <p
        class="text-gray-950 text-center text-5xl cursor-default font-bold"
        data-aos="fade-up"
      >
        It All Starts with Creative
      </p>
    </div>
    <div
      class="h-12 w-full"
      style="background-image: linear-gradient(to left, #faeed1, #dac69a)"
    ></div>
    <div
      class="intro w-full grid place-items-center"
      style="background-image: linear-gradient(to left, #faeed1, #dac69a)"
    >
      <div class="h-full w-9/10 flex items-center justify-around">
        <div class="h-full w-1/4 block">
          <div class="h-3/20 w-full grid place-items-center">
            <p
              class="text-gray-950 text-center text-3xl cursor-default font-bold"
              data-aos="fade-up"
            >
              What is creative
            </p>
          </div>
          <div class="h-1/20 w-full"></div>
          <div class="h-4/5 w-full">
            <p
              class="text-gray-950 text-justify text-1xl cursor-default font-light"
              style="text-align-last: center"
              data-aos="fade-up"
            >
              In the art world, creativity is not just a skill, but an infinite
              source of power. Virtus understands that every work of art stems
              from a unique creative core. We view creativity as a key driver of
              innovation, self-expression, and unforgettable art experiences.
            </p>
          </div>
        </div>
        <div class="h-full w-1/4 block">
          <div class="h-3/20 w-full grid place-items-center">
            <p
              class="text-gray-950 text-center text-3xl cursor-default font-bold"
              data-aos="fade-up"
            >
              How creativity helps
            </p>
          </div>
          <div class="h-1/20 w-full"></div>
          <div class="h-4/5 w-full">
            <p
              class="text-gray-950 text-justify text-1xl cursor-default font-light"
              style="text-align-last: center"
              data-aos="fade-up"
            >
              Creativity is not just about making something beautiful; it is the
              force that inspires ideas, transforms concepts into tangible
              works, and infuses every detail with uniqueness. In the journey of
              art, creativity is the key to differentiating and empowering.
            </p>
          </div>
        </div>
        <div class="h-full w-1/4 block">
          <div class="h-3/20 w-full grid place-items-center">
            <p
              class="text-gray-950 text-center text-3xl cursor-default font-bold"
              data-aos="fade-up"
            >
              Can we help you
            </p>
          </div>
          <div class="h-1/20 w-full"></div>
          <div class="h-4/5 w-full">
            <p
              class="text-gray-950 text-justify text-1xl cursor-default font-light"
              style="text-align-last: center"
              data-aos="fade-up"
            >
              Virtus offers comprehensive services to stimulate and realize
              artistic potential such as Art Curation, Commissioned Artwork, Art
              Consultation, and Artistic Workshops. From concept to realization,
              Virtus is here to inspire and elevate your creativity.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="h-20 w-full"
      style="
        background-image: linear-gradient(to left, #faeed1, #dac69a);
        border-radius: 0% 0% 100% 100% / 100% 100% 100% 100%;
      "
    ></div>
    <div class="h-20 w-full"></div>
  </body>
  <%- include("footer") %>
  <script type="text/javascript" src="/client/static/js/hamburger-menu.js"></script>
  <script
    type="text/javascript"
    src="https://unpkg.com/aos@next/dist/aos.js"
  ></script>
  <script type="text/javascript">
    AOS.init();
  </script>
</html>