<a class="splide__slide grid place-items-center" href="">
  <div
    class="bg-bbab8c grid place-items-center h-full w-19/20 overflow-hidden rounded-50px"
    style="box-shadow: 0.75rem 0.75rem 1.25rem #bebebe"
  >
    <div class="absolute bg-cover grid place-items-center z-10">
      <img src="" alt="" width="200" class="" />
    </div>
  </div>
  <div class="absolute h-9/10 w-9/10 z-20">
    <div class="h-3/5 w-full"></div>
    <div class="h-2/5 w-full grid place-items-center">
      <div class="h-full w-9/10">
        <p class="text-gray-900 text-3xl text-justify font-semibold">
          Lorem ipsum dolor sit amet...
        </p>
        <br />
        <p class="text-gray-900 text-1xl text-justify font-medium">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat vel
          aperiam cumque cum eveniet facere...
        </p>
      </div>
    </div>
  </div>
</a>